<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.example.hotelbookingservlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainConnection</servlet-name>
        <servlet-class>com.example.hotelbookingservlet.DAO.DbConnection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainConnection</servlet-name>
        <url-pattern>/MainConnection</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.hotelbookingservlet.Servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.example.hotelbookingservlet.Servlet.RegistrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>com.example.hotelbookingservlet.Servlet.VerifyUserByCodeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HotelRegistrationServlet</servlet-name>
        <servlet-class>com.example.hotelbookingservlet.Servlet.HotelRegistrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HotelRegistrationServlet</servlet-name>
        <url-pattern>/HotelRegistrationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>FormValidationServlet</servlet-name>
    <servlet-class>com.example.hotelbookingservlet.Servlet.FormValidationServlet</servlet-class>
</servlet>

    <servlet-mapping>
        <servlet-name>FormValidationServlet</servlet-name>
        <url-pattern>/FormValidationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationFormValidation</servlet-name>
        <servlet-class>com.example.hotelbookingservlet.Servlet.RegistrationFormValidation</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationFormValidation</servlet-name>
        <url-pattern>/RegistrationFormValidation</url-pattern>
    </servlet-mapping>


</web-app>